/*Common*/
.pull-right{
    float: right;
}
.pull-left{
    float: left;
}
.bg-white{
    background-color: #fff;
}
/*Common End*/
/*overwrite layui origin style*/

.layui-nav .layui-nav-item{
    line-height: 80px!important;
}
.layui-nav-item .layui-nav-child{
    top: 80px!important;

}
.layui-nav-item .layui-nav-child a{
    color: #006759 !important;
    font-size: 15px!important;
    font-weight: lighter!important;
}
.layui-container{
    width: 100%!important;
    padding-left: 6% !important;
    padding-right: 6% !important;
}

/*overwrite layui origin style----END*/

/*blog header begin*/
.blog-header{
    background-color: white;
    line-height: 80px;
    height: 80px;
    padding-left: 6%;
    padding-right:6%;
    box-shadow: 0 1px 0 rgba(0,0,0,.1);
    z-index: 999;

}
.brand-title{
    display: inline-block;
    color: #007769;

}
.blog-nav{
    background: none;
}
.blog-nav a{
    font-size: 16px!important;


    color: #007769!important;
}
.blog-nav a:hover{
    color: #004f44 !important;
}
#search{
    display: inline;
    width: auto;
    vertical-align: middle;
}
/*blog header End*/

.blog-banner{
    background: #fff;
    margin: 15px 0 10px 0;
    height: 35px;
    line-height: 35px;
    border-radius: 3px;
    padding: 0 0 0 10px;

}
.blog-carousel{
    margin-bottom: 15px;
}

/*article css begin*/
article{
    position: relative;
    background: #fff;
    margin: 0 0 10px 0;
    padding: 20px 30px 20px 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    border-radius: 4px;
    height: 153px;
}
article .thumbnail {
    float: left;
    max-height: 150px;
    height: auto;
    border: 1px solid #c2c2c2 ;
    margin-right: 20px;
}
.article-header>h1{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;

}
.article-content{
    max-height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}
.article-meta{
    position: absolute;
    bottom: 10%;
    /*color: #999;*/

}
/*article css end*/
/*pagination -----*/
#pagination{
    text-align: center;
    padding-top: 10px;
}
/*pagination -----*/
