/*Common*/
.hr{
    margin: 15px 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #e2e2e2;
    position: relative;
}
.hr span{
    position: absolute;
    background-color: white;
    bottom: -8px;
    color: #006741;

}
.text-center{
    text-align: center;
}
.border-gray{
    border:1px solid #c2c2c2;
}
.font-strong{
    font-weight: 700;
    color: black;
}
.pull-right{
    float: right;
}
.pull-left{
    float: left;
}
.bg-white{
    background-color: #fff;
}
.blog-panel{
    border-radius: 3px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #ffffff;
}
.panel-title h5{
    color: #000;
}
.panel-title h5>i {
    width: 30px;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    border-right: 1px solid #b0b0b0;
    margin-right: 5px;
}

/*Common End*/