/*Common*/
body{
    background-color: #eee !important;
    color: #666 !important
}
/*markdown编辑器高度*/
.CodeMirror, .CodeMirror-scroll {
    min-height:150px!important;
}
/*评论用户头像*/
.user-img img{
    float: left;
    width: 35px;
    height: 35px;
    border-radius: 50%;

}
/*Comment css*/
.comment-header .user-info{
    margin-left: 50px;
}
.timer{
    color: #a5a5a5;
}
.comment-content{
    padding-left: 15px;
}
.content-meta a{
    font-size: 13px;
    color: #009a61;
}
.content-meta a:hover{
    color: #0a5036;
}
.content-meta{
    margin-bottom: 10px;
}
.sepa:before{
    margin: 0 3px;
    content: "|";
    color: #009a61;
}
.content-li{
    padding: 10px 10px;
    box-shadow: 3px 3px 3px #ebf1ed;
    /*box-shadow: 1px 0px 16px 1px #ddd;*/
}
.code{
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.blog-banner {
    background: #fff;
    margin: 15px 0 10px 0;
    height: 35px;
    line-height: 35px;
    border-radius: 3px;
    padding: 0 0 0 10px;

}

.link-green:hover {
    color: #009a61;
}

.text-green {
    color: #009a61;
}

.panel-title .h5 {
    font-size: 16px;
    font-weight: 700;
}

.hr {
    margin: 15px 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #e2e2e2;
    position: relative;
}

.hr span {
    position: absolute;
    background-color: white;
    bottom: -8px;
    color: #006741;

}

.text-center {
    text-align: center;
}

.border-gray {
    border: 1px solid #c2c2c2;
}

.font-strong {
    font-weight: 700;
    color: black;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.bg-white {
    background-color: #fff;
}

.blog-panel {
    border-radius: 3px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #ffffff;
}

.panel-title h5 {
    color: #000;
}

.panel-title h5 > i {
    width: 30px;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    border-right: 1px solid #b0b0b0;
    margin-right: 5px;
}

/*Common End*/

/*---------------------------------------blog tag css -*/
.blog-tag {

}

.tag-content a {
    display: inline-block;
    border-radius: 3px;
    padding: 0 10px;
    line-height: 25px;
    margin: 0 10px 10px 0;
}

.tag-content a:hover {
    color: #fff;
    background-color: #20b1a0;
    transition: .3s ease;
}

/*---------------------------------------blog tag css -*/

/*-----------------------------------------article list*/
.article-list {
    padding: 0 15px !important;
}

.article-list a {
    display: block;
    line-height: 28px;
    margin: 5px 0;
}

.article-list a:hover {
    color: #009688;
}

/*-----------------------------------------article list*/

/*-----------------------------------------blog info css-*/
.info-list {
    padding: 0 7px;
}

.info-list li {
    padding: 5px 0;
}

.info-list span {
    color: #000;
}

/*-----------------------------------------blog info css-*/
/*-------------------------------------------layui tab overwrite css*/
.blog-panel .layui-tab {
    margin-top: 0 !important;
}

.blog-panel .layui-tab-title {
    border: none !important;

}

.blog-panel .layui-tab-title li {
    padding: 0 !important;
    width: 33% !important;
    background-color: #F8F8F8 !important;
    border: 1px solid white !important;
    font-weight: 700;
}

.blog-panel .layui-tab-title li:after {
    border: none !important;
}

.blog-panel .layui-tab-title .layui-this {
    background-color: #fff !important;
    border: #ffffff !important;

}

/*-------------------------------------------layui tab overwrite css*/



/*--------------------------------------------------- Start Common ------------------------------------------------*/
.tc{
    text-align: center;
}
.tl{
    text-align: left;
}
.tr{
    text-align: right;
}
.db{
    display: block;
}
.dinb{
    display: inline-block;
}
.m5{
    margin: 5px;
}
.m10{
    margin: 10px;
}
.m15{
    margin: 15px;
}
.m20{
    margin: 20px;
}
.mt5{
    margin-top: 5px;
}
.mt10{
    margin-top: 10px;
}
.mt15{
    margin-top: 15px;
}
.mt20{
    margin-top: 20px;
}
.mb5{
    margin-bottom: 5px;
}
.mb10{
    margin-bottom: 10px;
}
.mb15{
    margin-bottom: 15px;
}
.mb20{
    margin-bottom: 20px;
}
.ml5{
    margin-left: 5px;
}
.ml10{
    margin-left: 10px;
}
.ml15{
    margin-left: 15px;
}
.ml20{
    margin-left: 20px;
}
.mr5{
    margin-right: 5px;
}
.mr10{
    margin-right: 10px;
}
.mr15{
    margin-right: 15px;
}
.mr20{
    margin-right: 20px;
}
.p5{
    padding: 5px;
}
.p10{
    padding: 10px;
}
.p15{
    padding: 15px;
}
.p20{
    padding: 20px;
}
.pt5{
    padding-top: 5px;
}
.pt10{
    padding-top: 10px;
}
.pt15{
    padding-top: 15px;
}
.pt20{
    padding-top: 20px;
}
.pb5{
    padding-bottom: 5px;
}
.pb10{
    padding-bottom: 10px;
}
.pb15{
    padding-bottom: 15px;
}
.pb20{
    padding-bottom: 20px;
}
.pl5{
    padding-left: 5px;
}
.pl10{
    padding-left: 10px;
}
.pl15{
    padding-left: 15px;
}
.pl20{
    padding-left: 20px;
}
.pr5{
    padding-right: 5px;
}
.pr10{
    padding-right: 10px;
}
.pr15{
    padding-right: 15px;
}
.pr20{
    padding-right: 20px;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clear{
    clear: both;
}
.mb25{
    margin-bottom: 25px;
}
.none{
    display: none;
}
